html {
    font-size: 10px;
}
*, *::before, *::after {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
}
* {
    margin: 0;
    padding: 0;
}
body {
    direction: ltr;
    font-family: 'Sora', sans-serif;
    background-color: #0d0d0d;
}
a {
    text-decoration: none;
    color: #f1dac4;
}
ul, li {
    list-style: none;
}
.full-container {
    width: 100%;
}
.container-l {
    width: 1250px;
    margin: 0 auto;
}
.flex {
    display: flex;
}
.flex-column {
    flex-direction: column;
}
.column-1 {
    width: 8.33%;
}
.column-2 {
    width: 16.667%;
}
.column-3 {
    width: 25.0%;
}
.column-4 {
    width: 33.33%;
}
.column-5 {
    width: 41.667%;
}
.column-6 {
    width: 50.0%;
}
.column-7 {
    width: 58.33%;
}
.column-8 {
    width: 66.667%;
}
.column-9 {
    width: 75%;
}
.column-10 {
    width: 83.33%;
}
.column-11 {
    width: 91.667%;
}
.column-12 {
    width: 100.0%;
}
.width-20 {
    width: 20%;
}
.align-center {
    align-items: center;
}
.jc-sb {
    justify-content: space-between;
}
.jc-c {
    justify-content: center;
}
.jc-se {
    justify-content: space-evenly;
}
.nowrap {
    flex-wrap: nowrap;
}
.wrap {
    flex-wrap: wrap;
}
.gap-150px {
    gap: 150px;
}
.gap-50px {
    gap: 50px;
}
.gap-10px {
    gap: 10px;
}
.gap-5px {
    gap: 5px;
}
.row-gap-5px {
    row-gap: 5px;
}
.row-gap-15px {
    row-gap: 15px;
}
.bg-dark {
    background-color: #0d0d0d;
    border: 1px solid #dddddd;
    color: #fff;
    padding: 5px;
    border-radius: 5px;
    font-size: 1rem;
}
.timelength {
    font-size: 0.8rem;
    color: #f1dac4;
}
.btn {
    font-size: 1.6rem;
    color: #FF601C !important;
    font-size: 1.6rem;
    font-weight: 500;
    /* line-height: 16px; */
    padding: 7px 10px;
    height: 40px;
    transition: all 0.3s;
    border-radius: 8px;
    border: 2px solid #b1b1b1;
    background-color: #0d0d0d;
}
.btn:hover {
    border: 2px solid #FF601C;
    color: #f1dac4;
}
.btn-primary {
    background-color: #FF601C;
    color: #0d0d0d !important;
    font-size: 1.6rem;
    font-weight: 500;
    /* line-height: 16px; */
    padding: 7px 10px;
    height: 40px;
    transition: all 0.3s;
    border-radius: 8px;
    border: 2px solid transparent;
}
.btn-primary:hover {
    border: 2px solid #f1dac4;
}
.btn-transparent {
    font-size: 1.6rem;
    color: #f1dac4;
    font-size: 1.6rem;
    font-weight: 500;
    /* line-height: 16px; */
    padding: 7px 10px;
    height: 40px;
    transition: all 0.3s;
    border-radius: 8px;
    border: 2px solid transparent;
}
.btn-transparent:hover {
    border: 2px solid #f1dac4;
}
.ta-c {
    text-align: center;
}
.categories {
    padding: 15px 0;
    color: #f1dac4;
}
.ptb-10px {
    padding: 10px 0;
}
.ptb-50px {
    padding: 50px 0;
}
.ptb-90px {
    padding: 90px 0;
}
.ptb-180px {
    padding: 180px 0;
}
.plr-50px {
    padding: 0 50px;
}
.categories-content {
    padding: 10px 0;
}
.categories-content__header {
    font-size: 2rem;
    margin: 10px 0;
}
.categories-a {
    display: block;
    margin: 0 5px;
    position: relative;
}
.categories-a::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    z-index: 1;
    transition: all 0.3s ease-in-out;
    background: rgba(0, 0, 0, 0.75);
}
.categories-a:hover::before {
    opacity: 1;
}
.categories-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}
.see-all {
    color: #FF601C;
    padding: 5px;
    font-size: 1.2rem;
}
.header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
}
.header__holder {
    color: #f1dac4;
    padding: 16px;
    background-color: #141414cc;
    /* opacity: 0.8; */
    /* backdrop-filter:blur(20px); */
}
/* .header a {
    color: #f1dac4;
} */
.header .header__holder .header__menu__logo a svg {
    width: 106px;
    height: 18px;
}
.header .header__action__search input {
    background-color: transparent;
    width: 65px;
    height: 35px;
    border: none;
    outline: none;
    color: #f1dac4;
    font-size: 1.8rem;
    font-weight: 500;
}
.hero-section {
    position: relative;
    width: 100%;
    /* height: 1000px; */
}
.border-bottom {
    margin-bottom: 5px;
    border-bottom: 1px solid #b1b1b1;
}
.hero-section::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    background: linear-gradient(90deg,#0d0d0de6,#0d0d0d00 53.51%),linear-gradient(180deg,#0d0d0d00,#0d0d0d);
}
.hero-section .hero-section__background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 770px;
}
.hero-section .hero-section__background img {
    width: 100%;
    height: 100%;
}
.hero-section .hero-section__content-box {
    color: #fff;
    position: relative;
    z-index: 2;
}
.hero-section .hero-section__content-box .hero-section__content__header {
    font-size: 3.2rem;
    margin: 15px 0;
}
.hero-section .hero-section__content-box .hero-section__content__rating {
    font-size: 1.2rem;
    margin: 15px 0;
}
.hero-section .hero-section__content-box .hero-section__content__button {
    margin: 15px 0;
}
.hero-section .hero-section__content-box .hero-section__content__button ul li a {
    color: #fff;
    font-size: 1.6rem;
}
.hero-section .hero-section__content-box .hero-section__content__description {
    color: #fff;
    font-size: 1rem;
    margin: 15px 0;
}
.hero-section .hero-section__spotlight {
    position: relative;
    z-index: 2;
}
.create-account .create-account__content {
    position: relative;
    width: 100%;
    height: 300px;
    margin-bottom: 25px;
}
.create-account .create-account__content::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-image: url('../images/background.69985521.jpg');
    background-position: top left;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
}
.create-account .create-account__content__details {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    color: #fff;
}
.create-account .create-account__content__details ul {
    width: 100%;
    height: 100%;
}
.create-account .create-account__content__details ul li ul {
    padding: 100px;
}
.create-account .create-account__content__details ul li ul li {
    color: #fff;
    font-size: 1.6rem;
}
.create-account .create-account__content__details ul li ul li i {
    color: #FF601C;
}
.create-account .create-account__content__details ul li ul li a {
    display: block;
    min-width: 165px;
    height: 50px;
    padding: 12px;
}
/* .movies {
    margin: 80px 0;
}
.movies .movies__menu {
    position: relative;
}
.movies .movies__menu ul {
    position: sticky;
    max-height: 80vh;
    left: 0;
    z-index: 10;
    overflow: hidden;
    overflow-y: scroll;
}
.movies .movies__menu ul li a {
    display: block;
    width: 80%;
    color: #f1dac4;
    font-size: 1.5rem;
    padding: 5px;
    border: 1px solid transparent;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
}
.movies .movies__menu ul li a:hover {
    border: 1px solid #f1dac4;
}
.movies .movies__content {
    position: relative;
}
.movies .movies__content .movies__content__header {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 10;
}
.movies .movies__content .movies__content__header h1 {
    color: #eaf6ff;
    font-size: 5.6rem;

} */
.footer {
    padding: 20px 0;
    margin-top: 50px;
}
.footer .footer__content {
    width: 100%;
    color: #f1dac4;
}
.footer .footer__content .footer__section-title {
    color: #f1dac4;
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 10px;
}
.footer .footer__content ul li ul li a {
    color: #dddddd;
    display: block;
    font-size: 1.5rem;
    padding: 5px 0;
    transition: all 0.3s ease-in-out;
}
.footer .footer__content ul li ul li a:hover {
    color: #f1dac4;
}
.footer .footer__social-media ul li a i {
    padding: 5px;
    color: #f1dac4;
    font-size: 2.5rem;
    transition: all 0.3s ease-in-out;
}
.footer .footer__social-media ul li a:hover i {
    color: #FF601C;
}
.footer .footer__copyrhight {
    color: #f1dac4;
    font-size: 1.2rem;
}
.movies {
    /* position: relative; */
}
.left-sidebar {
    width: 250px;
    height: 100%;
    /* position: fixed; */
    left: 0;
    top: 72px;
}
.left-sidebar ul {
    background-color: #151515;
    font-size: 1.4rem;
    padding: 20px;
    border-radius: 5px;
    border: 2px solid #dddddd;
    color: #f1dac4;
    /* height: 80vh; */
    /* overflow: hidden; */
    /* overflow-y: scroll; */
    /* position: sticky; */
}
.left-sidebar ul li a {
    display: block;
    border: 1px solid transparent;
    padding: 5px;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
}
.left-sidebar ul li a:hover {
    border: 1px solid #f1dac4;
}
.right-sidebar {
    width: 100%;
    min-height: 100vh;
    /* padding-left: 250px; */
}
.pagination-border {
    width: 100%;
    height: 1px;
    background-color: #dddddd;
}
.pagination-number {
    color: #dddddd;
    font-size: 1.4rem;
    padding: 16px;
}